/* header */
header {
    background-color: darkred;
    text-align: center;
    padding: 40px 0;
    color: white;
    width: 100%;
}

.naaaaaavbar{
    display: flex;
    justify-content: space-around;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

a{
    color: white;
    text-decoration: none;
}